page-list {
    .header-fixed{
        height: 100px;
    }

    .list-content{
        margin-top: 10px;
    }

    @media screen and (min-height : 640px) {
    
        .label{
            font-size: 2rem !important;
        }
    }

}
