page-list {
    .header-fixed{
        height: 100px;
    }

    .list-content{
        margin-top: 10px;
    }

    .vertical-center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    ion-item:last-child {
        border-bottom: 0 !important;
    }

    @media screen and (min-height : 640px) {
    
        .label{
            font-size: 2rem !important;
        }
    }

}
