page-den_siste_tiden5 {

    ion-content .col{
        border: 1px solid white;
        white-space: normal;
    }

    .header-fixed{
        font-size: 2rem;
    }

    .content-paragraph{
        padding-left: 10%;
        padding-right: 10%;
    }

    .menu-header{
        font-size: 2rem;
    }

    .col-header {
        text-align: center;
        background: rgb(187, 187, 187);
    }

    ion-content .grid {
        width: 1100px;
    }

    ion-scroll {
        white-space: nowrap;
        height: 420px;
    }


}