page-home {
    /*
    .scroll-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    */

    .button-container{
        z-index: 2;
        width: 50%;
        //height: 100%;
        padding: 5px 10px 5px 10px;
        text-align: center;
        font-size: 1.2rem;
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
    }

    .buttons-container{
        max-width: 500px;
        height: 100%;
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .row{
        height: 33%;
    }

    .logo-container{
        text-align: center;
        padding-bottom: 10px;
    }

    .logo{
        max-width: 60%;
    }

    .button-image{
        height: auto;
        max-height: 120px;
        margin-bottom: 8px;
    }

    @media screen and (max-height : 640px) {
        .button-container{
            padding-left: 0px;
            padding-right: 0px;
            margin-bottom: 10px;
            font-size: 1.1rem;
        }

        .buttons-container{
            padding-top: 20px;
        }

        .button-image{
            max-height: 70px;
        }

    }
    @media screen and (min-height : 1024px) {
        .button-container{
            font-size: 1.5rem;
        }

        .button-image{
            max-height: 160px;
        }

    }
}




