page-home {

    .button-container{
        width: 33.33%;
        padding: 5px;
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 20px;
        font-family: 'Varela Round', sans-serif;
        font-weight: bold;
    }
    .menu-button{
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

}
