// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//$searchbar-ios-background-color: rgba(0, 0, 0, 1);
//$searchbar-ios-toolbar-input-background: rgba(0, 0, 0, 0);
$searchbar-ios-input-background-color: lightgrey;
$searchbar-ios-border-color: transparent;

.body{
    font-family: 'Varela Round', sans-serif;
}
.searchbar-ios{
    background: transparent;
}

.scroll-content{
    padding-top: 30px;
}

.list-ios > .item-block:first-child {
    border-top-width: 0px;
}

.header{
    max-height: 85px !important;
}
/*
.header{
    background: rgba(255, 255, 255, 0) !important;
    //background-clip: content-box !important;
    //border: none !important;
    //z-index: 0 !important;
    //display: inline !important;
    //position: absolute !important;
    //box-sizing: content-box !important;
    //background-origin: content-box;
    //height: 0px;
    width: 100%;
    opacity: 0;
    z-index: -1;
    font-size: 3rem;
    margin-bottom: 30px;
    background-clip: content-box;
    font-family: 'Varela Round', sans-serif;
}

.ion-header{
    //z-index: -5 !important;
}

.toolbar-content{
    background: rgba(255, 255, 255, 0) !important;
    
}
*/


.menu-header{
    width: 100%;
    opacity: 0;
    z-index: -1;
    font-size: 2.6rem;
    margin-bottom: 30px;
    background-clip: content-box;
    font-family: 'Varela Round', sans-serif;
}


.header-fixed{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    padding-top: 20px;
    padding-bottom: 65px;
    background-clip: content-box;

    font-size: 2.6rem;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

.header-shadow{
    z-index: 1;
    background-color: white;
    box-shadow: 0 5px 35px 35px white;
    -webkit-box-shadow: 0 5px 35px 35px white;
    -moz-box-shadow: 0 5px 35px 35px white;
}

.page-content{
    z-index: 1;
    max-width: 700px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 70px;
    padding-top: 10px;
    font-size: 1.6rem;
    font-family: 'Varela Round', sans-serif;
}

.content-header{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 15px 0 15px 0;
}

.content-paragraph{
    margin-bottom: 15px;
}

.content-quote{
    font-style: italic;
    margin-bottom: 20px;
    color: rgb(83, 83, 83);
}

ul li{
    margin: 3px 0 3px 0;
}

ul{
    padding-left: 10px;
}

@media screen and (max-height : 600px) {
    .header-fixed{
        font-size: 2.5rem;
    }

    

    .header-shadow{
        box-shadow: 0 12px 35px 35px white;
        -webkit-box-shadow: 0 12px 35px 35px white;
        -moz-box-shadow: 0 12px 35px 35px white;
    }
}