<div class="search-header">
  
  <ion-row>
      <ion-col col-2>
        <div style="width:100%;">
            <ion-icon name="arrow-back" (click)="exitButtonClicked()"></ion-icon>
        </div>
      </ion-col>
      <ion-col col-10 style="padding-top: 0px;">
        <ion-searchbar
          placeholder="Søketekst"
          [(ngModel)]="searchbarInput"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)">
      </ion-searchbar>
    </ion-col>
      
  </ion-row>

  
</div>

<!-- <div class="header-spacer"></div> -->

<ion-content>

    <ion-list>
      <ion-item text-wrap *ngFor="let result of results" (click)="goToPage(result.component,result.id)">
        
          <ion-row>
            <ion-col col-11>
              <b>{{result.title}}</b>
              <br>{{result.preview}} 
            </ion-col>
            <ion-col col-1>
              <ion-icon class="vertical-center" name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        
      </ion-item>
    </ion-list>

    <div *ngIf="showEmptyResults" class="empty-search">
      Ingen søkeresultater
    </div>
    

</ion-content>