page-search{
    .search-header{
        height: 100px;
        width: 100%;
        font-size: 3rem;
        text-align: center;
        font-family: 'Varela Round', sans-serif;
        padding-top: 20px;
        background: white;
    }

}
