<div class="search-header">
  
  <ion-row>
      <ion-col col-2>
      <ion-icon name="arrow-back" (click)="exitButtonClicked()"></ion-icon>
      </ion-col>
      <ion-col col-8><b>Søk</b></ion-col>
      <ion-col col-2></ion-col>
  </ion-row>

  <ion-searchbar
    #input
    placeholder="søketekst"
    [(ngModel)]="searchbarInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
</div>

<div class="header-spacer"></div>

<ion-content>

    <ion-list>
      <ion-item text-wrap *ngFor="let result of results" (click)="goToPage(result.component,result.id)">
        
          <ion-row>
            <ion-col col-11>
              <b>{{result.title}}</b>
              <br>{{result.preview}} 
            </ion-col>
            <ion-col col-1>
              <ion-icon class="vertical-center" name="arrow-forward"></ion-icon>
            </ion-col>
          </ion-row>
        
      </ion-item>
    </ion-list>

    <div *ngIf="showEmptyResults" class="empty-search">
      Ingen søkeresultater
    </div>
    

</ion-content>