page-search{

    .scroll-content{
        padding-bottom: 50%;
    }
    
    .list{
        margin-top: 100px;
    }

    .search-header{
	    padding-top: calc(20px + constant(safe-area-inset-top));
        padding-top: calc(20px + env(safe-area-inset-top));
        z-index: 10;
        background-clip: content-box;
        position: fixed;
        top: 0px;
        left: 0px;
        height: 130px;
        width: 100%;
        font-size: 3rem;
        text-align: center;
        font-family: 'Varela Round', sans-serif;
        background: white;
        box-shadow: 0 3px 35px 35px white;

    }

    .header-spacer{
        width: 100%;
        height: 100px;
    }

    .empty-search{
        width: 100%;
        position: absolute;
        transform: translateY(15vh);
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Varela Round', sans-serif;
        color: rgb(136, 136, 136);
    }

    .vertical-center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    

    @media screen and (max-height : 640px) {
        .search-header{
            font-size: 2.5rem !important; 
            box-shadow: 0 3px 35px 35px white;
	        height: 100px
        }
	    .scroll-content{
            margin-top: 0px !important;
        }
    }
    
    @media screen and (min-width : 360px) {
        
        .label{
            font-size: 2rem !important;
        }

        .list{
            margin-top: 140px;
        }

    }

}


