page-search{

    .scroll-content{
        padding-bottom: 50%;
    }
    
    .list{
        margin-top: 70px;
    }

    .search-header{
	    padding-top: calc(20px + constant(safe-area-inset-top));
        padding-top: calc(20px + env(safe-area-inset-top));
        z-index: 10;
        background-clip: content-box;
        position: fixed;
        font-size:  2.4rem;
        top: 0px;
        left: 0px;
        /* height: 70px; */
        width: 100%;
        text-align: center;
        font-family: 'Varela Round', sans-serif;
        background: white;
        box-shadow: 0 3px 35px 35px white;

    }
    ion-searchbar{
        padding-top: 0px !important;
        padding-right: 10px;
        min-height: 38px;  
    }

    .header-spacer{
        width: 100%;
        height: 70px;
    }

    .empty-search{
        width: 100%;
        position: absolute;
        transform: translateY(15vh);
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Varela Round', sans-serif;
        color: rgb(136, 136, 136);
    }

    .vertical-center{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    ion-item:last-child {
        border-bottom: 0 !important;
    }
    

    @media screen and (max-height : 640px) {
        .search-header{
            font-size: 2.5rem !important; 
            box-shadow: 0 3px 35px 35px white;
            padding-top: calc(10px + env(safe-area-inset-top));
	        height: 60px
        }
	    .scroll-content{
            margin-top: 0px !important;
        }
    }

}


