<ion-header><header-bar [title]="title"></header-bar></ion-header>
<ion-content>
  
  <div class="clear-button-container">
    <button small round ion-button color="dark" outline (click)="this.clearCheckboxes()">nullstill</button>
  </div>
  <div class="checklist-container">

    <ion-list>

      <ion-item text-wrap no-lines *ngFor="let item of checklists.checklist2">
          <ion-label [ngClass]="{'grayed': item.isChecked}">{{item.val}}</ion-label>
          <ion-checkbox color="dark" [(ngModel)]="item.isChecked"></ion-checkbox>
      </ion-item>
      <br>
      <h5 style="text-align: center"><b>Ved endring i pasientens situasjon:</b></h5>
      <ion-item text-wrap no-lines *ngFor="let item of checklists.checklist3">
          <ion-label [ngClass]="{'grayed': item.isChecked}">{{item.val}}</ion-label>
          <ion-checkbox color="dark" [(ngModel)]="item.isChecked"></ion-checkbox>
      </ion-item>

    </ion-list>
  </div>

</ion-content>